<form [formGroup]="form" class="mt-4">
    <div class="row m-3 info-row">
        <span class="col-3 col-12 col-sm-4">Plné meno</span>
        <span class="col-12 col-sm-8"> {{ accommodationRequest?.osoba?.plneMeno }} </span>
    </div>
    <div class="row m-3 info-row w">
        <span class="col-12 col-sm-4">Pohlavie</span>
        <span class="col-12 col-sm-8"> {{ accommodationRequest?.osoba?.pohlavie }} </span>
    </div>

    <div class="row m-3 info-row">
        <span translate="ADDRESS" class="col-3 col-12 col-sm-4">Trvalé bydlisko</span>
        <span class="col-12 col-sm-8"> {{ accommodationRequest?.osoba?.bydlisko }} </span>
    </div>

    <div class="row m-3 info-row">
        <span translate="NATIONALITY" class="col-12 col-sm-4">Štátna príslušnosť</span>
        <span class="col-12 col-sm-8">{{ accommodationRequest?.osoba?.statnaPrislusnost }} </span>
    </div>

    <div class="row m-3 info-row">
        <span translate="FACULTY" class="col-12 col-sm-4">Fakulta</span>
        <span class="col-12 col-sm-8"> {{ accommodationRequest?.fakulta?.kod }}</span>
    </div>

    <div class="row m-3 info-row">
        <span translate="STUDY_PROGRAMME" class="col-12 col-sm-4">Študijný program</span>
        <span class="col-3 col-12 col-sm-8">
            {{ accommodationRequest?.studium.studijnyProgram?.skratka }} -
            {{ accommodationRequest?.studium.studijnyProgram?.nazov }}
        </span>
    </div>

    <div class="row m-3 info-row">
        <span translate="YEAR_OF_STUDY" class="col-12 col-sm-4">Ročník štúdia</span>
        <span class="col-12 col-sm-8"> {{ accommodationRequest?.studium?.rocnik }} </span>
    </div>

    <div class="row m-3 info-row">
        <span translate="TYPE_OF_STUDY" class="col-12 col-sm-4">Druh štúdia</span>
        <span class="col-12 col-sm-8"> {{ accommodationRequest?.studium.studijnyProgram?.druh }} </span>
    </div>

    <div class="row m-3 info-row">
        <span translate="STUDY_FORM" class="col-12 col-sm-4">Forma štúdia</span>
        <span class="col-12 col-sm-8"> {{ accommodationRequest?.studium.studijnyProgram?.forma }}</span>
    </div>

    <div class="d-flex m-3 confirm-checkbox">
        <input type="checkbox" class="pl-2" [formControl]="form.get('confirmBox')" />
        <span class="ml-3">Potvrdzujem správnosť osobných údajov. </span>
    </div>

    <!--  <div class="row justify-content-between" >-->
    <!--    <button mat-raised-button matStepperNext color="primary" type="button" translate="NEXT_BUTTON"></button>-->
    <!--  </div>-->
</form>
