<form [formGroup]="form" class="mt-4">
  <mat-card-content>
    <div class="row">
        <span translate="DORMITORY" class="col-4"></span>
        <mat-form-field  class="col-6">
            <mat-select placeholder="Dormitories" [formControl]="controls.dormitory">
                <mat-option *ngFor="let topping of dormitories" [value]="topping.id">{{ topping.fullName }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row">
        <span translate="DORMITORY_NOTICE" class="col-4"></span>
        <mat-form-field class="col-6">
            <textarea
                [formControl]="controls.dormitoryNotice"
                matInput
                rows="5"
                cols="40"
                placeholder="text"
            ></textarea>
        </mat-form-field>
    </div>

    <div class="row justify-content-between" >
    <button mat-raised-button matStepperPrevious color="warn" type="button" translate="BACK_BUTTON"></button>
    <button mat-raised-button matStepperNext color="primary" type="button" translate="NEXT_BUTTON"></button>
  </div>
  </mat-card-content>
</form>
